
div.header header {
     grid-area: header; 
     padding: 3em;
     text-align: center;

    
  
     }
div.menu nav a { grid-area: menu;  
align-items: center;
text-align: center;
}
div.main body  { grid-area: main; }
div.img img { grid-area: right; }
div.footer footer { grid-area: footer; }


div.container {
  display: grid;
  grid:
    'header header header header header'
  
    'menu menu menu menu menu'
    'main main main main main main'
    'right right right right right'
    'footer footer footer footer footer';

    
    
}
header {
    background-image: url(pexels-jacob-prose-1987464.jpg);
}
body {
    margin: 0 auto;
    width: 100%;
 
}

/*

/*
body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 3fr 2fr 8fr 5fr 3fr ;
    grid-colum
    width: 100%;
}


body header {
grid-area: 1,1,4,4;
text-align: center;
font-family: "Helvetica Neue",Helvetica,Arial;
color: rgb(69, 64, 64);
font-size: 1.5em;
background-image: url("pexels-jacob-prose-1987464.jpg");
}

nav {
grid-area: 1,2,5,3;
}
div.body {
    grid-area: 3,1,5,5;
   

}
